.header{
    background-color: #FDEEF1;
}
.banner{
    padding: 50px 240px 0px 240px;
    display: flex ;
    align-items: center;
    justify-content: space-between;
}
.btn{
    border-radius: 8px;
    background-color: #E55473;
    border: 0;
    color: white;
    font-size: 20px;
    padding: 20px 43px;
    
}
.imgmain{
    height: 800px;
    width: 635px;

}
.banner-initial{
    font-family: "Lato", sans-serif;
  font-weight: 708;
  font-style: normal;
    font-size: 80px;
}
.bannerchuta{
    font-size: 18px;
    font-family: "Lato", sans-serif;
    font-weight: 350;
    font-style: normal;
    padding: 0px 0px 30px 0px;
}
.title{
    text-align: center;
    font-size: 40px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.description{
    text-align: center;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    font-weight: 350;
    font-style: normal;
}
.about{
    padding: 178px 423px 0px 423px;
}
.pad{
    margin: 0px 314px;
}
.flowe1{
    background-image: url('/images/Rectangle31.png');
    height: 428px;
    width: 310px;
    background-position: bottom left;
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
    padding: 110px 70px 0px 70px;
}
.hea{
    text-align: center;
    font-size: 24px;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-decoration: underline;
}
.flower{
    height: 605px;
    width: 464px;
}
.flowers{
    display: flex;
    justify-content: space-around;
    padding: 48px 0px 0px 0px;
}
.flowe2{
    background-image: url('/images/Rectangle32.png');
    height: 370px;
    width: 370px;
    background-size: 450px 539px;
    background-repeat: no-repeat;
    align-items: center;
    padding: 117px 40px 51px 40px;
}
.flowe3{
    background-image: url('/images/Rectangle33.png');
    height: 428px;
    width: 310px;
    background-position: bottom left;
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
    padding: 67px 68px 0px 68px;
}
.middle{
    padding: 86px 175px 60px 175px;
    background-color: #F4F4F4;
    display: flex;
    justify-content: space-around;
    margin: 128px 0px;
}
.hel1{
    padding: 0px 142px;
}
.hel2{
    padding: 0px 114px;
}
.hel3{
    padding: 0px 57px;
}
.he{
    text-align: center;
    font-size: 24px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #505050;
}
.help{
    align-items: center;
}
.banner2{
    background-color: #FDF6F8;
}
.a{

    font-size: 40px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.b{

    font-size: 18px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.text{
    text-align: center;
    padding: 130px 0px 0px 0px;
}
.headd{
    padding: 100px 430px 100px 395px;
    display: flex;
    justify-content: space-between;
}
.onlypic{
    height: 396px;
    width: 342px;
}
.onlyimg{
    padding: 48px 0px 0px 0px;
}
.background{
    background-image: url(/images/Rectangle\ 9.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 122px 287px;
}
.text1{
    text-align: center;
    
}
.form{
    padding: 23px 413px 23px 22px;
    border-radius: 8px;
}
.flex{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 0px 0px;
}
.last{
    padding: 128px 0px;
}
.aa{

    font-size: 40px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 0%;
}
.black{
    background-color: #111010;
    padding: 128px 0px;
}
.heading2{
    font-size: 48px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    text-align: center;
}
.ajaira2{
    font-size: 18px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-align: center;
    margin-bottom: 3%;
}
.ending{
    font-size: 18px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #707070;
    text-align: center;
}
.color{
    color: #E55473;
}
